# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & testing caches
.pytest_cache/
.hypothesis/

# Virtual environments
venv/
env/
.env

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
